/*
    This is the stylesheet for the main HTML document.
    Remember to document properly (what selector does what) when you make a style change!
    -------------------------------------------------------------------------------------
*/


/*
    General stuff for the html and body
*/
html, body{
    padding: 0px;
    margin: 0px;
}

/*
    Styling for the header block
*/
header{
    margin: 0px;
    padding: 0px;
    position: fixed;
    width: 100%;
    height: 7%;
    border-bottom:1px solid gray;
    background-color: rgba(255, 255, 255, 0.3);
}

/*
    For all the individual navigation link tabs
*/
.navTab{
    float: left;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 1%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/*
    Just for the first nav tab
*/
#firstNavTab{
    padding-left: 50%;
}

/*
    For the logo image in the header
*/
#headerLogo{
    float: left;
    margin-left: 5%;
    width: 4%;
    height: 100%;
}

/*
    The main background image
*/
#mainImage{
    width: 100%;
    height: 100%;
}

/*
    For all the description paragraphs
*/
.description{
    display: flex;
}


/*
    For the images that go alongside the description paragraphs
*/
.sideImage{
    float: left;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 5%;
    width: 20%;
}

/*
    For all the headings (titles)
*/
.heading{
    width: 100%;
    text-align: center;
}

/*
    For all the main section divs
*/
.section{
    width:100%;
    clear: both;
}

/*
    The footer text at the bottom of the page
*/
#footerLogo{
    text-align: center;
}

/*
    The containers for the team member portraits
*/
.memberPortrait{
    float: left;
    width: 33%;
}


.memberDescription{
    text-align: center;
    justify-content: center;
}

.headshot{
    display: block;
    margin: auto;
}

form{
    margin-left: 15%;
    float: left;
    width: 30%;
    padding-right: 20%;
}

input{
    width: 100%;
}